<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../../resources/static/css/style.css" />
    <link rel="stylesheet" href="../../../resources/static/css/findPw.css" />
    <title>Pet LiSe</title>
  </head>
  <body>
    <main class="container">
      <div class="dogImage">
        <img src="../../../resources/static/images/login-logo.png" alt="로고" />
        <img src="../../../resources/static/images/dogs.svg" alt="강아지" />
      </div>
      <div class="loginWrapper">
        <div class="tabMenu">
          <a href="./findId.html">아이디 찾기</a>
          <span></span>
          <a href="./findPw.html">비밀번호 찾기</a>
        </div>
        <form class="loginform">
          <div class="divWrapper">
            <div class="inputWrapper">
              <p>이름</p>
              <input type="text" />

              <p>이메일 주소</p>
              <div class="checkEmail">
                <input type="email" />
                <button type="button">인증번호 발송</button>
              </div>
              <div class="CertificationEmail">
                <input type="text" />
                <button type="button">인증번호 확인</button>
              </div>
            </div>
          </div>
          <button>확인</button>
        </form>
      </div>
    </main>
  </body>
</html>
