table {
  display: none;
  min-width: calc(100% - 250px - 60px);
  width: 950px;
  margin-bottom: 50px;
}
table thead {
  width: 100%;
  background: var(--light-stroke);
}
table thead tr {
  display: grid;
  grid-template-columns: 120px 120px 100px 185px 90px 90px 100px 85px 85px;
}
table thead th {
  font: var(--highlight16);
  height: 50px;
  line-height: 50px;
}
table tbody {
  width: 100%;
  text-align: center;
}
table tbody tr {
  display: grid;
  grid-template-columns: 120px 120px 100px 185px 90px 90px 100px 85px 85px;
  border-bottom: 1px solid var(--light-point);
}
table tbody td {
  font: var(--body14);
  height: 45px;
  line-height: 45px;
  padding: 0 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
table tbody td:first-of-type,
table tbody td:last-of-type {
  padding: 0 10px;
}
