<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="../../../resources/static/images/favicon.ico" />
    <link
      rel="apple-touch-icon"
      href="../../../resources/static/images/favicon.ico"
    />
    <link rel="stylesheet" href="../../../resources/static/css/style.css" />
    <link
      rel="stylesheet"
      href="../../../resources/static/css/admin/aside.css"
    />
    <link
      rel="stylesheet"
      href="../../../resources/static/css/pagination.css"
    />
    <link
      rel="stylesheet"
      href="../../../resources/static/css/admin/tabMenu.css"
    />
    <link
      rel="stylesheet"
      href="../../../resources/static/css/admin/shopManagement.css"
    />
    <title>Pet LiSe</title>
  </head>
  <body>
    <div class="container">
      <div id="menu"></div>

      <main>
        <p>라이스샵 관리</p>

        <div class="tabMenu">
          <div class="tabWrap">
            <ul class="list">
              <li class="isOn"><a href="#tab1" class="btn">강아지</a></li>
              <li><a href="#tab2" class="btn">고양이</a></li>
            </ul>
            <a href="./editExpertRecipe.html" class="editButton">등록</a>
          </div>

          <div class="tableWrap">
            <table id="tab1" class="table" style="display: block"></table>
            <table id="tab2" class="table"></table>
          </div>
          <div id="pagination"></div>
        </div>
      </main>
    </div>

    <script src="../../../resources/static/js/aside.js"></script>
    <script src="../../../resources/static/js/pagination.js"></script>
    <script src="../../../resources/static/js/tabMenu.js"></script>
    <script src="../../../resources/static/js/shopTable.js"></script>
  </body>
</html>
