@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');

:root {
  --light-main: #FFB100;
  --light-sub: #FBC252;
  --light-point: #8A6F4E;
  --light-stroke: #DED4C7;
  --light-text: #1F1F1F;
  --dark-main: #3C4245;
  --dark-sub: #5F6769;
  --dark-point: #FFD369;
  --dark-stroke: #EEEEEE;
  --dark-text: #FFFFFF;
  --gray1: #333333;
  --gray2: #4F4F4F;
  --gray3: #828282;
  --gray4: #BDBDBD;
  --gray5: #E0E0E0;
  --white: #FFFFFF;
  --headding34: normal bold 34px "Noto Sans KR";
  --headding24: normal bold 24px "Noto Sans KR";
  --headding18: normal bold 18px "Noto Sans KR";
  --body16: normal normal 16px "Noto Sans KR";
  --body14: normal normal 14px "Noto Sans KR";
  --button16: normal bold 16px "Noto Sans KR";
  --button14: normal bold 14px "Noto Sans KR";
  --button12: normal bold 12px "Noto Sans KR";
  --caption14: normal normal 14px "Noto Sans KR";
  --caption12: normal normal 12px "Noto Sans KR";
  --highlight16: normal bold 16px "Noto Sans KR";
  --highlight14: normal bold 14px "Noto Sans KR";
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  width: 100%;
  height: 100%;
  font-family: "Noto Sans KR", sans-serif;
  color: var(--light-text);
}
a {
  color: inherit;
  text-decoration: none;
}
ol,
li,
ul {
  list-style: none;
}
textarea {
  resize: none;
  outline: none;
}
input,
select,
button {
  border: none;
  outline: none;
  box-sizing: border-box;
  background: none;
}
button {
  background: none;
  cursor: pointer;
}
