<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<typeAliases>
		<typeAlias type="user.UserDTO" alias="userdto" />
		<typeAlias type="mypage.user.MypageDTO" alias="mypagedto" />
		<typeAlias type="admin.shop.ProductDTO" alias="productdto" />
		<typeAlias type="board.petplace.PetPlaceDTO" alias="petplacedto" />
		<typeAlias type="recipe.RecipeDTO" alias="recipedto" />
		<typeAlias type="shop.cart.ShopCartDTO" alias="cartdto" />
		<typeAlias type="shop.payment.ShopOrderProductDTO" alias="orderproductdto" />
		<typeAlias type="shop.payment.ShopOrderInfoDTO" alias="orderinfodto" />
	</typeAliases>

</configuration>