@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

* { font-family: Noto Sans KR; }

#layout {
    width: 1440px;
    height: auto;
    margin: 0 auto;
}

#categorys {
    width: 1240px;
    height: 30px;
    margin: 20px auto;
    color: var(--light-text, #1F1F1F);
    
    >p{
        line-height: 30px;
        font-size: 16px;
        font-weight: 700;
        padding-left: 20px;
    }
}

#detail_img_info {
    width: 1240px;
    margin: 0 auto;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-evenly;
}

#img{
    width: 400px;
    height: 400px;
    border-radius: 10px;
    border: 1px solid var(--light-point, #8A6F4E);
    
    background-image: url('https://m.363sg.co.kr/web/product/medium/202008/0b564c2db19eb7f7b363beab3a505add.jpg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#info{
    width: 720px;
    height: 320px;
    border-radius: 10px;
    border: 1px solid var(--light-point, #8A6F4E);
    background: #FFF;
    padding: 40px;

    >p {
        margin: 0px;
        margin-bottom: 10px;
        color: #1F1F1F;
        font-size: 36px;
        line-height: 36px;
    }

    >table {
        color: #1F1F1F;
        font-size: 14px;
        margin: 0 auto;
        margin-top: 20px;
        border-collapse: collapse;
        /* border: 1px solid  #1F1F1F; */

        >tbody>tr:nth-child(1) {
            height: 50px;
            border-bottom: 1px solid  #BDBDBD;
        }

        >tbody>tr:nth-child(1)>td:nth-last-child(1) {
            font-size: 24px;
            font-weight: 700;

            display: flex;
            align-items: center;
            justify-content: flex-end;

            >img{
                width:30px;
                height: 30px;
                margin-top: 5px;
                margin-right: 10px;
            }
        }

        >tbody>tr>td:nth-child(1) {
            width: 100px;
            height: 20px;
        }
        
        >tbody>tr>td:nth-last-child(1) {
            width: 580px;
            padding: 10px;

            display: flex;
            align-items: center;

            >img{
                width:15px;
                height:15px;
                margin-right: 5px;
            }
        }

        >tbody>tr:nth-last-child(1)>td:nth-last-child(1) {
            display: flex;
            align-items: center;

            #select_number{
                width: 100px;
                height: 25px;
                text-align: center;
                border-radius: 5px;
                border: 0.455px solid var(--light-point, #8A6F4E);
            }
        }

    }

    #info_btns{
        margin-top: 40px;
        display: flex;
        justify-content: flex-end;

        >button {
            width: 200px;
            height: 50px;
            border-radius: 8px;
            border: 1px solid var(--light-sub, #FBC252);
            color: var(--light-text, #1F1F1F);
            font-size: 16px;
            font-weight: 700;
            padding: 10px;
            background-color: transparent;
            margin-left: 15px;
            cursor: pointer;
        }

        >button:hover {
            background-color: var(--light-sub, #FBC252);
        }
    }
}

.detail_tab {
    width: 1240px;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1F1F1F;

    >div{
        display: flex;
        width: 410px;
        height: 50px;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        border: 1px solid var(--light-sub, #FBC252);
        background: transparent;
    }

    .tab_active {
        background: var(--light-sub, #FBC252);
        font-size: 16px;
        font-weight: 700;

        >img {
            width: 25px;
            height: 25px;
            margin:0;
            margin-right: 5px;
        }
    }
}

#product_detail {
    width: 1200px;
    height: 1000px;
    margin: 20px auto;
    background-color: #BDBDBD;
}

#product_infomation {
    width: 1240px;
    margin: 20px auto;
    margin-top: 0px;
    color: var(--light-text, #1F1F1F);

    >h4 {
        margin-left: 20px;
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 15px;
    }
    >p {
        margin-left: 20px;
        font-size: 14px;
        line-height: 25px;
        margin-bottom: 15px;

        .tab { white-space: pre; }
    }
}

#product_review {
    width: 1240px;
    height: auto;
    margin: 0px auto;
}

#review_title {
    width: 1240px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    >div {
        >h4 {
            margin-top: 0px;
            margin-left: 20px;
            font-size: 18px;
            font-weight: 700;
        }
        >p {
            font-size: 14px; 
            font-weight: 400; 
            line-height: 25px; 
            margin: 0px;
            margin-left: 20px;
        }
    }

    >button{
        width: 180px;
        height: 50px;
        margin-right: 20px;
        border-radius: 8px;
        border: 1px solid var(--light-sub, #FBC252);
        color: var(--light-text, #1F1F1F);
        font-size: 14px;
        font-weight: 700;
        padding: 10px;
        background-color: transparent;
        cursor: pointer;
    }

    >button:hover{
        background-color: var(--light-sub, #FBC252);
    }
}

#review_statistic {
    border-top: 1px solid var(--light-sub, #FBC252);
    margin: 0px auto;
    width: 1200px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    >div {
        height: 230px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        font-weight: 700;
    }
}

#score{
    width: 400px;
    border-right: 1px solid #FFB100;

    >span{
        margin-bottom: 10px;
    }
    >span:nth-child(2){
        font-size: 24px;
        color: var(--light-main, #FFB100);
    }

    >div{
        position: relative;
        
        #fillscore{
            overflow: hidden;
            position: absolute;
            left: 0;
            top:0;
        }
    }
}


#count{
    width: 200px;

    >span {
        margin-bottom: 5px;
    }

    >span:nth-child(2){
        font-size: 24px;
        color: var(--light-main, #FFB100);
    }
}

#score_count {
    width: 550px;
    
    #score_box{
        height: 230px;
        gap: 10px;
        
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        .scores{
            background-position: center;
            display: flex;
            justify-content: center;
            align-items: center;
        
            width: 500px;
            height: 25px;

            .score_score{
                color: #1F1F1F; 
                font-size: 16px; 
                font-weight: 700;
                margin-top: -2px;
                margin-right: 10px;
            }

            .graph_back {
                width: 350px; 
                height: 20px; 
                background: #E0E0E0; 
                border-radius: 10px;
            }
            
            .graph_color {
                height: 20px; 
                background: #FFB100; 
                border-radius: 10px;
            }

            .score_cnt{
                width: 100px;
                color: #1F1F1F; 
                font-size: 16px; 
                font-weight: 700;
                margin-top: -2px;
                margin-left: 10px;
            }
        }


    }
}

.review_container {
    width: 1200px;
    height: auto;
    padding: 10px 0px;
    margin: 0 auto;
    border-bottom: 1px solid var(--light-sub, #FBC252);
    display: flex;
    justify-content: space-between;
    align-items: center;

    .review_info{
        width: 980px;
        height: auto;
        display: flex;
        flex-direction: column;
        
        .user_info {
            height: 50px;
            display: flex;
            align-items: center;

            .box {
                width: 40px;
                height: 40px; 
                border-radius: 70%;
                overflow: hidden;
                margin: 0px 10px;
            }
            .profile {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            >span {
                font-size: 16px;
                font-weight: 700;
            }

            >span:nth-last-child(1) {
                font-size: 14px;
                font-weight: normal;
                margin-left: auto;
                margin-right: 10px;
            }
        }
        .review_contents{
            display: flex;
            height: auto;
            
            .score{
                width: 250px;
                padding:0px 10px;
                display: flex;
                align-items: center;
                justify-content: space-evenly;

                >img {
                    margin: 0px -5px;
                }
                
                >span {
                    margin-left:10px;
                    color: var(--light-main, #FFB100);
                    font-size: 28px;
                    font-weight: 700;
                }
            }
            
            .contents{
                width: 700px;
                padding:10px;
                display: flex;
                align-items: center;
                min-height: 80px;
                
                >p {
                    margin: 0;
                    font-size: 14px;
                }
            }
        }
    }

    .review_img_box{
        width: 150px;
        height: 150px;
        overflow: hidden;
    }
    .review_img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .review_btns_my{
        width: 70px;
        height: 150px;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        color: #BDBDBD;

        >button {
            width: 70px;
            height: 50px;
            border-width: 0;
            background-color: transparent;
            color: #BDBDBD;
            
            >span {
                font-variation-settings: 'FILL' 1,'wght' 400,'GRAD' 0,'opsz' 48
            }
        }

        >button:hover {
            color: #FFB100;
        }
    }

    .review_btns_others{
        width: 70px;
        height: 150px;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        color: #BDBDBD;

        >button {
            width: 70px;
            border-width: 0;
            background-color: transparent;
            color: #BDBDBD;
            
            >span {
                font-variation-settings: 'FILL' 0,'wght' 400,'GRAD' 0,'opsz' 48
            }
        }

        
    }

    .review_btns_others:hover{
        color: #FFB100;

        .material-symbols-outlined{
            color: #FFB100;
            font-variation-settings: 'FILL' 1,'wght' 400,'GRAD' 0,'opsz' 48
        }
    }
}

#pages {
    width: 1240px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    
    >a {
        width: 20px;
        height: 20px;
        border-radius: 20px;
        background: transparent;
        font-size: 14px;
        color: #000;
        text-align: center;
        text-decoration: none;
        margin: 0px 5px;
    }

    >a:hover{
        background: var(--light-sub, #FBC252);
    }
    .page_active{
        background: var(--light-sub, #FBC252);
    }
}